.navbar {
    padding: 2% 10% ;
    display: flex;
    justify-content: space-between;
    background-color: rgba(57, 87, 95, 0.671);
    border-radius: 5px 5px;
    margin-top: 10px;
}

.navbar-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 100%;
}